<footer class="footer">
  <div class="footer__body container">
    <section class="footer__location location">
      <h2 class="location__header">AOD New York</h2>
      <p class="location__street">2250 Lexington Avenue </p>
      <p class="location__street">
        New York, NY 10035 - <a href="mailto:" class="location__mail">info@domain.com</a>
      </p>
    </section>

    <div class="footer__social social">
      <a href="#" class="social__link social__link--twitter" aria-label="twitter">
        <img src="./img/icon/social/twitter.png" alt="twitter" width="35" height="34">
      </a>
      <a href="#" class="social__link social__link--facebook" aria-label="facebook">
        <img src="./img/icon/social/facebook.png" alt="facebook" width="35" height="34">
      </a>
      <a href="#" class="social__link social__link--pinterest" aria-label="pinterest">
        <img src="./img/icon/social/pinterest.png" alt="pinterest" width="35" height="34">
      </a>
    </div>

    <a href="#" class="footer__copyright">
      <span>Handcrafted by</span>
      <img src="./img/logo/author.png" alt="author" width="55" height="36">
    </a>
  </div>

</footer>
