.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;

  @media (max-width: 767px) {
    top: 21px;
  }
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85px;
}

.header__nav {
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 5;
}
