.shop {
  &__body {
    display: flex;
  }

  &__col {
    flex: 0 1 16.666%;

    &--big {
      flex: 0 1 33.333%;
    }
  }

  &__footer {
    text-align: center;
    background-color: #282f35;
    padding: 95px 0;
  }

  &__btn {
    transition: background-color 0.3s;
    padding: 20px 60px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    &:hover,
    &:focus {
      background-color: rgba(100, 194, 158, 0.3);
    }
  }

  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }

    &__col {
      flex: 0 1 50%;

      &--big {
        flex: 0 1 100%;
      }
    }

    &__footer {
      padding: 55px 0;
    }

    &__btn {
      padding: 10px 30px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.block-shop {
  height: 100%;

  &__row {
    display: flex;
  }

  &__col {
    flex: 0 1 50%;
  }

  &__item {
    height: auto;
    padding: 0 0 50% 0;

    &--big {
      padding: 0 0 200.5% 0;
    }

    &--litle {
      padding: 0 0 100% 0;
    }
  }

  @media (max-width: 1100px) {
    &__item {
      height: auto;
      padding: 0 0 50% 0;

      &--big {
        padding: 0 0 200.5% 0;
      }

      &--litle {
        padding: 0 0 100% 0;
      }
    }
  }
}
